.player{
    align-items: center;
    background-color: #3A506B;
    border-radius: 100%;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
    height: 8vw;
    justify-content: center;
    margin-left: 0.8vw;
    width: 8vw;
}

#vs{
    color: rgb(255, 0, 0);
    font-family: 'Oswald', sans-serif;
    font-size: 5vh;
    margin-left: 1vw;
}